{{!-- Post Access CTA --}}
<div class="post-sneak-peek m-b-lg">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  </p>
  <p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div class="post-access-cta p-lg text-center {{visibility}}">
  <h3 class="paid">{{t "This post is for paid members only"}}</h3>
  <h3 class="members">{{t "This post is for members only"}}</h3>
  <a class="btn btn--brand btn--rounded m-b-lg" href="/signup/">{{t "Subscribe"}}</a>
  <div class="small">{{t "Already have an account?"}} <a class="post-access-alt" href="/signin/">{{t "Sign in"}}</a></div>
</div>